.container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .margin {
    margin-top: 4.38em;
  }
  .blue {
    background-color: #EBF5FF;
  
  }
  
  .white {
    background-color: #FFF;
  }