.navbar {
    width: 100%;
    background-color: #FFFFFF;
    outline: solid 0.06em #CCCCCC;
    padding: 0.63em 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
  
.container {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 150px;
    padding: 0;
}
  
.brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    margin: 0;
}
  
.navbarNav {
    display: flex;
    position: absolute;
    right: 150px;
    align-items: center;
    height: 100%;
}
  
.navLinks {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    height: 100%;
}
  
.navItem {
    margin-right: 1.25rem;
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    display: flex;
    align-items: center;
    height: 100%;
}
  
.dropdownContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}
  
.dropdownButton {
    border: 1px solid #CCCCCC;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1rem;
    z-index: 1002;
    color: black;
    padding: 0;
    overflow: hidden;
}

.dropdownButton img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
    min-width: 16.5rem;
    z-index: 999;
    padding: 0.625rem 0 0 0;
    display: flex;
    flex-direction: column;
}

.dropdownItem {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #000;
    font-size: 0.875rem;
}

.image {
    width: auto;
    height: 25px;
    justify-content: left;
}

.myImage {
    border: 1px solid #CCCCCC;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1rem;
    z-index: 1002;
    color: black;
    overflow: hidden;
    margin: 0.5rem 1rem;
}

.myImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logout {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #000;
    font-size: 0.875rem;
    background-color: #F3F3F3;
    color: #666666;
}