.container {
    background: #EBF5FF;
    margin:auto 150px 30px 150px;
}

.side_by_side {
    display: flex;
    padding: 1.13em;
    justify-content: center;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}
.font {
    margin-top: 40px;
}

.timeLine_side {
    border-left: 0.13em solid #86c1ff;
    margin-left: 3em;
    padding-left: 3em;
}