
.topContainer {
    height: auto;
    overflow: hidden;
    padding-top: 30px;
    background-color: #FFFF;
}

.container {
    margin: auto 150px 30px 150px;
}

.card {
    min-width: 270px;
    flex: 0 0 auto;
    height: 140px;
    border-radius: 12px;
    border: 1px solid #CCCCCC;
    padding: 25px 18px;
    text-align: left;
    box-shadow: 2px 3px 3px 0px #0000001A;
}
.title {
    font-size: 18px;
    font-weight: bold;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}