.topContainer {
    background: #EAEAEA;
    height: auto;
    overflow: hidden;
    padding-top: 30px;
}
.container {
    margin: auto 150px 30px 200px;
}
.content { 
    display: flex;
    justify-Content: space-between;
}
.itemList { 
    display: flex; 
    margin:auto;
    justify-Content: space-between; 
    gap:36px; 
}
.item {
    font-weight: bold;
     margin-right: 24px;
}