html, body { 
    background: #EBF5FF;
    margin: 0 0; 
    padding: 0 0;
}

.container {
    padding-top: 4.38em;
    background: #EBF5FF;
    left: 9.38em;
    right: 9.38em;
    position: fixed;
    border-radius: 1.88em !important;
}

.side_by_side {
    display: flex;
    padding: 1.13em;
    justify-content: center;
    background: #fff;
}
/* .divider {
    width: 0.13em;
    background-color: #86c1ff;
    margin: 3em;
} */

.timeLine_side {
    border-left: 0.13em solid #86c1ff;
    margin-left: 3em;
    padding-left: 3em;
}

h1 {
    line-height: 0.50em;
  }
p {
    line-height: 0.50em;
  } 