.topContainer {
    background: #EBF5FF;
    min-height: 100%;
    height: auto;
}

html { 
    background: #EBF5FF;
    min-height: 100%; 
    margin: 0; 
    padding: 0;
}

.container {
    padding-top: 70px;
    background: #EBF5FF;
    left: 150px;
    right: 150px;
    position: fixed;
    border-radius: 30px !important;
}

.side_by_side {
    display: flex;
    padding: 18px;
    background: #fff;
}
.divider {
    width: 2px;
    background-color: #86c1ff;
    margin: 20px;
    height: auto;
}
h1 {
    line-height: 8px;
  }
p {
    line-height: 8px;
  }
