.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    outline: solid 0.06em #CCCCCC;
    padding: 0.63em 1.25em;
    z-index: 1000;

}
  
.container {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0;
    align-items: center;
    padding: 0;
}
  
.brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    margin: 0;
}
  

  
.navbarNav {
    display: flex;
    align-items: center;
    margin: 0;
}
  
.navLinks {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.navItem {
    margin-right: 1.25rem;
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}
  
.dropdownContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}
  
.dropdownButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    z-index: 1002;
    color: black;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    min-width: 12.5rem;
    z-index: 999;
    padding: 0.625rem 0;
    display: flex;
    flex-direction: column;
}

.dropdownItem {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #000;
    font-size: 0.875rem;
}
.image {
    width: auto;
    height: 25px;
    padding-left: 50px;
    justify-content: left;
}