.step_box {
	margin: 0 20px 60px 20px;
	display: block;
	width: 420px;
	padding: 8px 16px;
	border: 1px solid #e2e2e2;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
	box-sizing: border-box;
	line-height: 1.5;
  }
  
  .step_box p {
	font-size: 14px;
	margin: 0;
	padding: 0;
	line-height: 1.2;
  }
  
  .customStep :global(.ant-steps-item-tail::after) {
	height: 100px !important;
	margin-left: 10px; 
  }
  
  .customIcon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
  }
  
  .status_done {
	background-color: #1890ff;
  }
  
  .status_pending {
	background-color: white;
	color: black;
	border: 1px solid skyblue;

  }
  