  .table {
    border: 1px #a39485 solid;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    width: 570px;
    height: 245px;
    padding: 19px;
  }

  .td_smaller{
    padding:8px 17px;
  }
  
  thead {
    font-weight: bold;
    color: black;
    background: #B7DAFF;
  }
  
  th {
    text-align: center;
    padding: 6px 12px;
    vertical-align: middle;
  }
  
  td {
    padding: 14px 30px;
    vertical-align: middle;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    text-align: center;
  }
  
  @media all and (max-width: 768px) {
    .table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
  
    th {
        text-align: right;
        border-bottom: 1px solid #a39485;
    }
  
    .table {
        width: 570px;
        height: 245px;
        position: relative;
        padding-bottom: 0;
        border: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  
    thead {
        float: left;
        white-space: nowrap;
    }
  
    tbody {
        overflow-x: auto;
        overflow-y: hidden;
        position: relative;
        white-space: nowrap;
    }
  
    tr {
        display: inline-block;
        vertical-align: top;
    }
  
    td {
        border-bottom: 1px solid #e5e5e5;
    }
  }
  