.container {
    min-width: 270px;
    flex: 0 0 auto;
    height: 140px;
    border-radius: 12px;
    border: 1px solid #CCCCCC;
    padding: 25px 18px;
    text-align: left;
}
.homeSchool {
    color: #578FCA;
    font-size: 14px;
    text-align: right;
}