
.topContainer {
    background: #FFF;
    height: auto;
    overflow: hidden;
    padding-top: 30px;
}

.container {
    background: #FFF;
    margin: auto 150px 30px 150px;
}

.miniCard {
    background: #FFF;
    padding: 10px 36px;
    display: flex;
    float: left;
    font-size: 18px;
}
  
  .miniCard:click {
    background-color: #d3d3d3;
  }
  
  .active {
    border-bottom: 2px solid #578FCA;
  }
  
.right {
    float: right;
    display: flex;
}
.cardContainer {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 8px;
    margin-top: 15px;
    padding-bottom: 16px;
    scroll-snap-type: x mandatory;
}